<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
  namespace="kr.ssy.bookstore2.book.infrastructure.domain.book.BookMyBatisMapper">

    <insert id="insertCategory"  keyProperty="id">
        INSERT INTO category
        (
          parent_id
        , name
        , order_index
        , insert_date
        )
        VALUES
        (
          #{parentId}
        , #{name}
        , #{orderIndex}
        , current_timestamp()
        )
    </insert>

    <insert id="insertBook"  keyProperty="id">
        INSERT INTO book
        (
          parent_id
        , category_id
        , isbn
        , title
        , author
        , publication_date
        , publisher
        , thumbnail_url
        , contents
        , retail_price
        , sales_price
        , type
        , sales_opened_at
        , sales_closed_at
        , status
        , create_by
        , insert_date
        )
        VALUES
        (
          #{parentId}
        , #{categoryId}
        , #{isbn}
        , #{title}
        , #{author}
        , #{publicationDate}
        , #{publisher}
        , #{thumbnailUrl}
        , #{contents}
        , #{retailPrice}
        , #{salesPrice}
        , #{type}
        , #{salesOpenedAt}
        , #{salesClosedAt}
        , #{status}
        , #{createBy}
        , current_timestamp()
        )
    </insert>

    <insert id="insertGenre"  keyProperty="id">
        INSERT INTO genre
        (
           book_id
         , name
        )
        VALUES
        (
           #{bookId}
         , #{name}
        )
   </insert>

   <update id="updateBookStatus">
        UPDATE book
           SET status = #{status}
             , update_date = current_timestamp()
             , update_by = #{updateBy}
         WHERE id = #{id}
   </update>

   <update id="updateSalesPrice">
           UPDATE book
              SET sales_price = #{salesPrice}
                , update_date = current_timestamp()
                , update_by = #{updateBy}
            WHERE id = #{id}
   </update>

   <update id="updateCategory">
       UPDATE category
          SET parent_id = #{parentId}
            , order_index = #{orderIndex}
            , update_date=current_timestamp()
       WHERE id = #{id}
   </update>


   <select id="selectCategoryById" resultType="kr.ssy.bookstore2.book.domain.book.Category">
       SELECT id
            , parent_id
            , name
            , order_index
            , insert_date
            , update_date
         FROM category
        WHERE id = #{id}
   </select>

   <select id="selectCategoryListByParentId"
   resultType="kr.ssy.bookstore2.book.domain.book.Category">
           SELECT id
                , parent_id
                , name
                , order_index
                , insert_date
                , update_date
             FROM category
            WHERE parent_id = #{parentId}
   </select>


   <select id="selectCategoryLastOrderByParentId" resultType="java.lang.Integer">
        SELECT order_index
         FROM category
        WHERE parent_id = #{parentId}
        ORDER BY order_index DESC
        LIMIT 1
   </select>




</mapper>